---
import About from "../components/About.astro";
import Banner from "../components/Banner.astro";
import Evaluation from "../components/Evaluation.astro";
import Reservation from "../components/Reservation.astro";
import Service from "../components/Service.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Banner />
  <div
    style={{
      "--diamond-width": "12px",
      "--diamond-height": "12px",
      "--diamond-top": "15px",
      "--diamond-left": "-15px",
    }}
    class="py-[20px] text-primary text-sm tracking-[0.1em] md:bg-[#fff] bg-[#faf5f0] md:flex md:justify-center md:items-center md:w-1/3 md:mx-auto md:my-[50px]"
  >
    <div
      class="w-1/2 pb-[10px] border-b-1 border-[#c3a76c] before-diamond md:ml-0 ml-[50px]"
    >
      好友推推享9折<br />
      會員VIP當月另享壽星優惠
    </div>
  </div>
  <About />
  <Service />
  <Evaluation />
  <Reservation />
</Layout>

<style></style>
