---
import { Image } from "astro:assets";
import star from "../assets/star.png";
import icon1 from "../assets/icon01.png";
import icon2 from "../assets/icon02.png";
import icon3 from "../assets/icon03.png";
---

<section class="bg-[#faf5f0] lg:py-16 py-8">
  <div
    class="mx-auto display flex lg:flex-row flex-col justify-start items-center lg:items-start md:w-[80%] px-8 md:px-0"
  >
    <div class="w-full lg:max-w-3/5">
      <div
        class="text-center lg:mb-8 mb-4 flex items-baseline justify-center lg:justify-start"
      >
        <h2
          class="text-4xl md:text-6xl font-light text-primary mr-[10px] md:mr-[20px]"
        >
          About
        </h2>
        <p class="text-2xl md:text-3xl text-secondary">關於我們</p>
        <Image
          src={star}
          alt="star"
          class="w-[20px] h-[20px] md:w-[29px] md:h-[29px] self-start"
        />
      </div>
      <div
        class="lg:text-left md:text-center text-primary leading-relaxed mx-auto mb-6 lg:mb-0 text-base md:text-lg md:leading-[1.8] leading-[1.6]"
      >
        <p>
          創立於 2020 年的 Homespa
          家，坐落於台北士林區福華路的一隅靜巷，是一座結合美容療癒與藝術手作的獨特空間。
          在這個節奏快速、壓力繁重的時代，我們相信：「美，不僅是外在的修飾，更是內在的療癒與生活的儀式感。」
          Homespa
          家不只是沙龍，而是一個讓身心放鬆、靈魂被理解的地方，就像真正的「家」。<br
          />
          有妳，才有家；有家，才有療癒。 我們堅持以家的溫暖出發，將專業與感性融合，打造一處屬於現代人的身心避風港。
          在這裡，美，是細緻的呵護、藝術的創作，也是與自我深層對話的旅程。
        </p>
        <div>在這裡，我們將家的溫暖注入每一處細節，結合四大核心體驗：</div>
        <li>
          美容美體｜從專業臉部保養、深層淨化到保濕抗老，重拾肌膚健康與光采。
        </li>
        <li>SPA舒壓療程｜芳香按摩、舒緩排毒，釋放身體的緊繃與日常壓力。</li>
        <li>
          美甲與紋繡｜細緻工藝結合創意美感，讓雙手與五官展現自然、自信的妝點。
        </li>
        <li>
          藝術手作空間｜繪畫、香氛、水晶、手作體驗，讓創作成為療癒的語言，重新連結內在自我。
        </li>
      </div>
    </div>
    <ul
      class="flex flex-wrap justify-center gap-2 md:gap-12 static lg:relative lg:right-[-10%] w-full"
    >
      <li
        class="w-[31%] h-[160px] md:w-[200px] md:h-[266px] rounded-full shadow-md bg-white p-2 md:p-4 md:py-4 flex justify-center items-center lg:absolute lg:top-[-130px]"
      >
        <div
          class="w-full h-[140px] md:h-[236px] border border-[#6d4a2f] rounded-full flex flex-col justify-center items-center"
        >
          <div class="w-15 h-15 md:w-20 md:h-20">
            <Image
              src={icon1}
              alt="誠信"
              class="w-full h-full object-contain"
            />
          </div>
          <div class="w-[80%] h-px bg-[#6d4a2f] my-4 relative">
            <div
              class="absolute w-5 h-[13px] bg-white left-1/2 -translate-x-1/2 -top-[6px] bg-[url('../assets/diamond.png')] bg-no-repeat bg-center bg-contain"
            >
            </div>
          </div>
          <h3 class="text-normal md:text-xl font-normal text-[#6d4a2f]">
            誠信
          </h3>
        </div>
      </li>
      <li
        class="w-[31%] h-[160px] md:w-[200px] md:h-[266px] mt-[25px] md:mt-0 rounded-full shadow-md bg-white p-2 md:p-4 flex justify-center items-center lg:absolute lg:top-[0px] lg:left-[120px]"
      >
        <div
          class="w-full h-[140px] md:h-[236px] border border-[#6d4a2f] rounded-full flex flex-col justify-center items-center"
        >
          <div class="w-15 h-15 md:w-20 md:h-20">
            <Image
              src={icon2}
              alt="專業"
              class="w-full h-full object-contain"
            />
          </div>
          <div class="w-[80%] h-px bg-[#6d4a2f] my-4 relative">
            <div
              class="absolute w-5 h-[13px] bg-white left-1/2 -translate-x-1/2 -top-[6px] bg-[url('../assets/diamond.png')] bg-no-repeat bg-center bg-contain"
            >
            </div>
          </div>
          <h3 class="text-normal md:text-xl font-normal text-[#6d4a2f]">
            專業
          </h3>
        </div>
      </li>

      <li
        class="w-[31%] h-[160px] md:w-[200px] md:h-[266px] rounded-full shadow-md bg-white p-2 md:p-4 flex justify-center items-center lg:absolute lg:top-[250px] lg:left-[-60px]"
      >
        <div
          class="w-full h-[140px] md:h-[236px] border border-[#6d4a2f] rounded-full flex flex-col justify-center items-center"
        >
          <div class="w-15 h-15 md:w-20 md:h-20">
            <Image
              src={icon3}
              alt="熱情"
              class="w-full h-full object-contain"
            />
          </div>
          <div class="w-[80%] h-px bg-[#6d4a2f] my-4 relative">
            <div
              class="absolute w-5 h-[13px] bg-white left-1/2 -translate-x-1/2 -top-[6px] bg-[url('../assets/diamond.png')] bg-no-repeat bg-center bg-contain"
            >
            </div>
          </div>
          <h3 class="text-normal md:text-xl font-normal text-[#6d4a2f]">
            熱情
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
