---

---

<div>
  <div class="banner">
    <div class="bg"></div>
    <div class="slogan mainColor">
      <div class="title">Experience a</div>
      <div class="title">new day</div>
      <div class="subtitle">體驗煥然一新的一天</div>
    </div>
  </div>
</div>

<style>
  .banner {
    position: absolute;
    top: 170px;
    width: 100%;
    height: calc(100% - 8.5vw);
  }
  .bg {
    width: 100%;
    height: calc(50%);
    background-color: #faf5f0;
  }
  .slogan {
    position: absolute;
    top: 3vw;
    left: 6vw;
  }
  .title {
    font-size: 6.6vw;
    line-height: 1.33;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .mainColor {
    color: #6d4a2f;
  }
</style>
