---
import { Image } from "astro:assets";
import banner_01 from "../assets/banner.jpg";
import banner_02 from "../assets/banner2.jpg";
---

<section
  class="bg-[#faf5f0] flex items-center justify-between px-16 mt-[140px]"
>
  <div class="text-left space-y-4 max-w-ful text-primary">
    <div class="text-[6.6vw] font-light">Experience a</div>
    <div class="text-[6.6vw] font-light">new day</div>
    <div class="text-[1.25rem]">體驗煥然一新的一天</div>
  </div>

  <div class="w-1/2 overflow-hidden relative">
    <div class="carousel flex w-[300%] animate-slide">
      <Image
        src={banner_01}
        alt="Banner 1"
        class="w-1/3 h-full object-cover"
        loading="lazy"
      />
      <Image
        src={banner_02}
        alt="Banner 1"
        class="w-1/3 h-full object-cover"
        loading="lazy"
      />
    </div>
  </div>
</section>

<style>
  @keyframes slide {
    0%,
    20% {
      transform: translateX(0); /* 第一张图片停留 */
    }
    33%,
    53% {
      transform: translateX(-100%); /* 第二张图片停留 */
    }
    66%,
    86% {
      transform: translateX(-200%); /* 第三张图片停留 */
    }
    100% {
      transform: translateX(0); /* 回到第一张图片 */
    }
  }

  .carousel {
    animation: slide 15s infinite; /* 总时长为 15 秒，每张图片停留 5 秒 */
  }
</style>
