---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<header
  id="header"
  class="bg-white shadow-md fixed top-0 left-0 w-full z-50 transition-all duration-300"
>
  <div
    id="container"
    class="mx-auto flex items-center justify-between p-10 transition-all duration-300"
  >
    <div>
      <Image src={Logo} alt="Logo" class="h-auto w-auto max-h-16" />
    </div>
    <nav class="menuBar">
      <ul class="flex text-gray-700 font-medium text-lg text-secondary">
        <li class="cursor-pointer p-4 transition group">
          <div class="f18 group-hover:hidden">預約體驗</div>
          <div class="f16 hidden group-hover:block">RESERVATION</div>
        </li>

        <li class="cursor-pointer p-4 transition group">
          <div
            class="f18 group-hover:hidden transition-transform ease-in-out duration-300"
          >
            服務項目
          </div>
          <div class="f16 hidden group-hover:block">SERVICES</div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .scroll {
    box-shadow: 0 0 30px 10px hsla(0, 0%, 60%, 0.2);
    background-color: #fff;
    height: 90px;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector("#header");
    const container = document.querySelector("#container");
    if (window.scrollY > 0) {
      header!.classList.add("scroll");
      container!.classList.remove("p-10");
      container!.classList.add("p-4");
    } else {
      header!.classList.remove("scroll");
      container!.classList.remove("p-4");
      container!.classList.add("p-10");
    }
  });
</script>
