---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<header
  id="header"
  class="bg-white shadow-md fixed top-0 left-0 w-full z-50 transition-all duration-300 p-6"
>
  <div
    id="container"
    class="mx-auto flex items-baseline md:items-center justify-between transition-all duration-300"
  >
    <a href="/" class="max-w-[150px] md:max-w-[250px]">
      <Image src={Logo} alt="Logo" class="md:h-auto md:w-auto max-h-16" />
    </a>
    <div class="block md:hidden">
      <button
        id="menu-toggle"
        class="text-gray-700 focus:outline-none"
        aria-label="Toggle menu"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <nav class="menuBar hidden md:block">
      <ul class="flex text-gray-700 font-medium text-lg text-secondary">
        <li class="cursor-pointer transition group w-50% mr-[50px] text-normal">
          <a
            class="group-hover:hidden"
            href="https://liff.line.me/1661148667-2dKY7gPB?cname=hgLZx5Zmb7gj2DZE6US4hD&origin=other"
            target="_blank">預約體驗</a
          >
          <a
            class="hidden group-hover:block"
            href="https://liff.line.me/1661148667-2dKY7gPB?cname=hgLZx5Zmb7gj2DZE6US4hD&origin=other"
            target="_blank">RESERVATION</a
          >
        </li>

        <li class="cursor-pointer transition group">
          <a
            href="#/service"
            class="text-normal group-hover:hidden transition-transform ease-in-out duration-300"
          >
            服務項目
          </a>
          <a class="f16 hidden group-hover:block" href="/#service">SERVICES</a>
        </li>
      </ul>
    </nav>
  </div>

  <style>
    .scroll {
      box-shadow: 0 0 30px 10px hsla(0, 0%, 60%, 0.2);
      background-color: #fff;
    }
  </style>

  <script>
    window.addEventListener("scroll", () => {
      const header = document.querySelector("#header");
      const container = document.querySelector("#container");

      if (window.scrollY > 0) {
        header!.classList.add("scroll");
        if (window.innerWidth < 768) {
          container!.classList.remove("p-2");
          container!.classList.add("p-4");
        } else {
          container!.classList.remove("p-2");
          container!.classList.add("p-6");
        }
      } else {
        header!.classList.remove("scroll");
        if (window.innerWidth < 768) {
          container!.classList.remove("p-4");
          container!.classList.add("p-2");
        } else {
          container!.classList.remove("p-6");
          container!.classList.add("p-2");
        }
      }
    });
  </script>
</header>
