---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<header class="header-style">
  <div class="logo">
    <Image src={Logo} alt="Logo" />
  </div>
  <nav class="menuBar">
    <ul class="display-flex subText">
      <li>預約體驗</li>
      <li>服務項目</li>
    </ul>
  </nav>
</header>
