---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
import Banner from "./Banner.astro";
import About from "./About.astro";
import Service from "./Service.astro";
---

<div id="container">
  <header class="header-style">
    <div class="logo">
      <Image src={Logo} alt="Logo" />
    </div>
    <nav class="menuBar">
      <ul class="display-flex subText">
        <li>預約體驗</li>
        <li>服務項目</li>
      </ul>
    </nav>
  </header>
  <Banner />
  <About />
  <Service />
</div>

<style>
  .subText {
    color: #c3a76c;
    font-size: 1.125rem;
  }
  ul {
    li:nth-child(1) {
      margin-right: 3.3vw;
    }
  }
  .display-flex {
    display: flex;
  }
  .header-style {
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 70px;
    position: fixed;
    width: calc(100% - 140px);
    height: 150px;

    transition:
      height 0.3s ease,
      transform 0.3s ease;
  }
  .scroll {
    box-shadow: 0 0 30px 10px hsla(0, 0%, 60%, 0.2);
    background-color: #fff;
    height: 90px;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector(".header-style");
    if (window.scrollY > 0) {
      header!.classList.add("scroll");
    } else {
      header!.classList.remove("scroll");
    }
  });
</script>
