---
import { Image } from "astro:assets";
import star from "../assets/star.png";
---

<div
  class="w-full h-[320px] md:h-[420px] bg-[url('../assets/contact.jpg')] bg-no-repeat bg-center bg-cover text-primary md:px-20 px-5"
>
  <div
    class="display flex flex-col md:flex-row md:justify-between justify-center items-center h-full"
  >
    <div class="text-center mt-10 md:mb-16 mb-4 flex flex-col items-baseline">
      <div class="display flex items-baseline">
        <h2
          class="text-4xl md:text-6xl font-light text-primary mr-[10px] md:mr-[20px]"
        >
          Reservation
        </h2>
        <p class="text-2xl md:text-3xl text-secondary">預約服務</p>
        <Image
          src={star}
          alt="star"
          class="w-[25px] h-[25px] md:w-[29px] md:h-[29px] self-start"
        />
      </div>
      <div class="text-xl md:text-2xl mt-2 md:mt-6 mb-2 md:mb-0">
        邀您一同踏上舒壓的旅程
      </div>
    </div>

    <div class="w-[68px] h-[68px] md:w-[98px] md:h-[98px] btn">
      <a
        href="https://liff.line.me/1661148667-2dKY7gPB?cname=hgLZx5Zmb7gj2DZE6US4hD&origin=other"
        target="_blank"
        class="w-full h-full block bg-[url('../assets/reservation/arrow.png')] bg-no-repeat bg-center bg-contain hover:bg-[url('../assets/reservation/arrow_hover.png')] transition-all duration-300 ease-out"
      ></a>
    </div>
  </div>
</div>
