---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Home Spa</title>
  </head>
  <body>
    <div
      id="container"
      class="mx-auto md:flex md:items-start md:justify-between p-10"
    >
      <a href="/">
        <Image src={Logo} alt="Logo" class="md:h-auto md:w-auto max-h-16" />
      </a>
      <nav class="menuBar hidden md:block">
        <ul class="flex text-gray-700 font-medium text-lg text-secondary">
          <li class="cursor-pointer p-4 transition group text-center w-50%">
            <a class="text-normal group-hover:hidden">預約體驗</a>
            <a class="text-sm hidden group-hover:block">RESERVATION</a>
          </li>

          <li class="cursor-pointer p-4 transition group">
            <a
              href="#/service"
              class="text-normal group-hover:hidden transition-transform ease-in-out duration-300"
            >
              服務項目
            </a>
            <a class="f16 hidden group-hover:block" href="#/service">SERVICES</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
